@use '../abstracts/variables' as v;

.order-button {
    background-color: v.$primary-color;
    width: 150px;
    height: 45px;
    text-align: center;
    padding: 20px 20px 0 20px;
    border-radius: 20px;
    transition: box-shadow 0.5s ease;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
        box-shadow: 0 0 10px rgba(83, 0, 103, 0.8),
                    0 0 20px rgba(50, 0, 63, 0.6),  
                    0 0 30px rgba(35, 0, 45, 0.4);
    }

    a {
        text-decoration: none;
        color: white;
    }
}

.colors-order-button {
    @extend .order-button;
    margin: 20px auto;
    width: 190px;
}

.contact-order-button {
    @extend .order-button;
    width: 400px;
    height: 30px;
    margin: 10px auto;
    padding: 20px;
}

@media screen and (min-width: 768px) { 
    .order-button {
        margin: 20px 0;
    }

    .contact-order-button {
        @extend .order-button;
        width: 300px;
        height: 20px;
    }
}

@media screen and (min-width: 1200px) { 
    
}