@use '../abstracts/variables' as v;

.header-text {
    color: v.$primary-color;
    font-weight: v.$heading-font-weight;
    font-size: 34px;
    margin-bottom: 10px;
}

.header-text-sections {
    @extend .header-text;
    font-size: 40px;
    text-align: center;

}

.basic-text {
    font-size: 14px;
    color: v.$primary-color;
    margin-bottom: 10px;
}

.colors-mini-text {
    display: none;
}

.copyright-text {
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    margin-bottom: 35px;
}

.features-title {
    margin: 7px 0;
    color: v.$primary-color;
    font-weight: bold;
    font-size: 15px;
}

@media screen and (min-width: 768px) {
    .colors-tablet-text {
        font-size: 30px;
    }

    .colors-mini-text {
        display: block;
        font-size: 12px;
        color: v.$primary-color;
    }

    .copyright-text {
        margin-top: 35px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .header-text {
        font-size: 45px;
    }

    .basic-text {
        font-size: 17px;
    }

    .copyright-text {
        margin-top: 35px;
        margin-bottom: 20px;
        font-size: 15px;
    }
}