@use '../abstracts/variables' as v;

.section-intro {
    border-radius: 30px;
    background-color: v.$secondary-color;
    padding: 10px 0px;
    margin: 20px auto !important;

    .intro-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;

        .intro-content-video {
            overflow: hidden;
            padding-top: 10px;

            video {
               width: 100%;
            }
        }

        .intro-content-text {
            display: flex;
            flex-direction: column;
        }
    }
}

.section-colors {
    background-color: v.$secondary-color;
    border-radius: 30px;
    padding: 20px 0px;
    margin: 30px 0px;

    #color-con{
        display: flex;
        justify-content: center;
        gap: 5px;

        button {
            border: 0;
            width: 70px;
            height: 70px;
            cursor: pointer;
        }

        #purple {
            background: url(../images/purple.svg) no-repeat;
        }
        
        #pink{
            background: url(../images/pink.svg) no-repeat;
        }
        
        #red {
            background: url(../images/red.svg) no-repeat;
        }
    }
    
}

.section-scrolling-animation {
    overflow: hidden;
}


.section-faq {
    padding: 20px 0px;
    margin: 30px 0px;
    color: v.$primary-color;

    .faq {
        margin-top: 2rem;
        padding-bottom: 1rem;
        border-bottom: 3px solid #830067;
        cursor: pointer;
    }

    .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .question h3 {
        font-size: 1.5rem;
    }

    .answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s ease;
    }

    .answer p {
        padding-top: 1rem;
        line-height: 1.6;
        font-size: 1.2rem;
    }

    .faq.openFaq .answer {
        max-height: 300px;
        animation: fade 1s ease-in-out;
    }

    .faq.openFaq svg {
        transform: rotate(180deg);
    }

    svg {
        transition: transform 0.5s ease-in;
    }

    @keyframes fade {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

.section-contact {
    background-color: v.$secondary-color;
    border-radius: 30px;
    padding: 15px 0px;
    margin: 35px 0px;

    
    .order-form-inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input {
            border: 3px solid #830067;
            border-radius: 20px;
            margin: 10px 0px 16px 0px;
            padding: 24px 22px;
            font-size: 18px;
            width: 100%;
            height: 68px;
            background: transparent;
            box-sizing: border-box;
            outline: none;
            color: #830067;

            &::placeholder {
                color: #830067;
                opacity: 0.6;
            }
        }
    }

    .contact-form {
        margin: 0 auto;
    }

    
}
